lombok.Setter.flagUsage = error
lombok.AllArgsConstructor.flagUsage = error
lombok.requiredArgsConstructor.flagUsage = error
lombok.data.flagUsage= error
lombok.nonNull.exceptionType = IllegalArgumentException
lombok.nonNull.flagUsage = error

config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
